<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Services</title>
    <!-- Include the Tailwind CSS stylesheet -->
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'styles.css' %}"> -->
</head>

<body class="bg-red-200 content-center ">
    <h1 class="text-7xl text-center">Home Services</h1>
    <!-- Your content goes here -->
    {% block content %}{% endblock %}

</body>

</html>