{% extends '_base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
    <p class="text-4xl text-center">Hello {{ request.user.username }}!</p>
    <a href="{% url 'logout' %}">
        <button class="bg-blue-500 py-2 px-4 text-white rounded-md hover:bg-blue-600 focus:outline-none ml-10">Logout</button>
    </a>
    {% else %}
    <div class="flex justify-center gap-10 mt-10">
            <a href="{% url 'login' %}">
                <button class="bg-blue-500 py-2 px-4 text-white rounded-md hover:bg-blue-600 focus:outline-none">Login</button>
            </a>
            <a href="{% url 'signup' %}">
                <button class="bg-blue-500 py-2 px-4 text-white rounded-md hover:bg-blue-600 focus:outline-none">Signup</button>
            </a>
    </div>
    {% endif %}
{% endblock %}